@import "styles/config";

.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  @include is-phone-portrait {
    flex-direction: column;
  }

  .name-wrapper,
  .type-wrapper {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid $grey-color-4;
    border-radius: 3px;
    font-size: 12px;
  }

  .name-wrapper {
    position: relative;
    width: 252px;

    @include is-phone-portrait {
      width: 100%;
    }

    margin-right: 13px;
    padding-left: 20px;
    padding-right: 20px;

    @include is-phone-portrait {
      margin-right: 0px;

      &::after {
        display: none;
      }
    }

    &::after {
      content: "";
      width: 1px;
      height: 32px;
      position: absolute;
      top: 50%;
      right: -14px;
      transform: translate(0, -50%);
      background: #e2e2e2;
    }

    img {
      width: 12px;
      height: 12px;
      margin-right: 22px;
      cursor: pointer;
    }

    input {
      border: 0px solid;
      background-color: transparent;
      color: $grey-color-2;

      &:focus {
        outline: none;
      }
    }
  }

  .type-wrapper {
    position: relative;
    width: 176px;

    @include is-phone-portrait {
      width: 100%;
    }

    margin-left: 12px;
    // padding-left: 16px;
    // padding-right: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
    overflow: hidden;

    @include is-phone-portrait {
      margin-left: 0px;
      margin-top: 10px;
    }

    .select {
      text-align: left;
      width: 100%;

      position: relative;

      .arrow {
        position: absolute;
        top: 50%;
        right: 0;
        width: 24px;
        height: 100%;
        transform: translate(0, -50%);
        background: url("/images/arrow.svg") no-repeat;
        background-position: left;
        background-color: white;
        background-size: 6px;
        z-index: 12;
      }

      select {
        width: 100%;
        background: transparent;
        border: 0;
        padding-left: 16px;
        outline: none;
        border-radius: 0;
        position: relative;
        z-index: 10;
        color: #000000;

        options {
          color: #000000;
        }
      }
    }
  }

  .seperate {
    width: 1px;
    height: 32px;
    border: solid 1px #e2e2e2;
  }

}